{{/* Server stats command by https://github.com/FravBox/YagCCs/ aka Vars#3616 on Discord 
Trigger: Command */}}

{{/* Change these variables */}}

{{ $avatar := "https://cdn.discordapp.com/attachments/750544650523246623/947397390887972933/kicking-musubi-w-text.png" }}
{{ $servername := "Your server's name here, plain text" }}
{{ $deltrig := "no" }} {{/* If you want to delete the trigger, put the number in seconds here. If you don't want to delete the trigger, leave no. */}}


{{/* Don't edit below */}}

{{ $trigger := (print .ServerPrefix .CCTrigger ) }}
{{ $createdAt := div .Guild.ID 4194304 | add 1420070400000 | mult 1000000 | toDuration | (newDate 1970 1 1 0 0 0 "America/New_York").Add }}

{{$embed := cembed 
    "title" (print $servername " Server Stats" ) 
    "description" (print "To call this message again, use `" $trigger "`") 
    "color" 15559936
    "fields" (cslice 
    (sdict "name" "Server Age" "value" (toString (humanizeDurationHours (currentTime.Sub $createdAt))) "inline" false)
    (sdict "name" "Creation Date" "value"  ($createdAt.Format  "Monday, 2 January 2006 at 15:04 MST") "inline" false)
        (sdict "name" "Member Count" "value" (toString .Guild.MemberCount) "inline" true) 
        (sdict "name" "Total Online" "value" (toString onlineCount ) "inline" true) 
    ) 
    "thumbnail" (sdict "url" $avatar) 
    "footer" (sdict "text" (print $servername) )
    "timestamp" $createdAt
}}

{{ sendMessage nil $embed }}

{{if ne $deltrig "no" }}
{{deleteTrigger $deltrig}}
{{end}}
