Returns an embed post. My custom help command essentially. Out of date since I no longer use snippet bot.

{{ $avatar := (joinStr "" "https://cdn.discordapp.com/attachments/750544650523246623/750756266737008760/kicking-sashimi.png") }}


{{$embed := cembed 
    "title" (joinStr "" "Basic Bot Command List" ) 
    "description" "To call this message again, use ``-helpme`` \n This command only works in <#751106748676309043>." 
    "color" 15559936
    "fields" (cslice  
(sdict "name" "Reminders" "value" (joinStr "" "``-remind <time> <message>`` \n You must have a message to set a reminder. \n Usage is like ``-remind 1h30m2s Am I still awake?`` \n Only works in <#751106748676309043>." ) "inline" false) 
(sdict "name" "Suggestions" "value" (joinStr "" "``-suggest <your suggestion>`` \n Automatically makes a poll and posts it to <#751086832959094894>. This isn't required to suggest things, but it allows immediate voting. \n Usage is like ``-suggest Can we get a beta testing channel?`` \n Only works in <#751106748676309043> and <#751086832959094894>." ) "inline" false) 
(sdict "name" "Snippets" "value" (joinStr "" "For a better explanation, send ``-sniphelp`` or ``s=help`` \n Snippet management can only be done in <#751106748676309043> or by DMing <@726673431143383090>. But you can use Snippets in any channel.") "inline" false) 
(sdict "name" "Create" "value" (joinStr "" "``s=an <title> <body>``") "inline" true)
(sdict "name" "Use" "value" (joinStr "" "``s=p <title>``") "inline" true)
(sdict "name" "Delete" "value" (joinStr "" "``s=dn <title>``") "inline" true)
(sdict "name" "Basic Server Stats" "value" (joinStr "" "``-server``") "inline" false) 
   ) 
    "thumbnail" (sdict "url" $avatar) 
    "footer" (sdict "text" "AMV Sashimi")
	"timestamp" .Guild.JoinedAt
}}
{{ sendMessage nil $embed }}
