trigger: command: suggest
Creates a poll with checkmark or X. Has a 24hr cooldown per user.

{{/* Suggestion code */}}

{{/* CONFIGURATION HERE CHANGE VALUES AS NEEDED */}}

{{/* 0 for per user, 1 for global */}}
{{$isGlobal := 0}}
{{/* name your cooldown name (anything works) */}}
{{$name := "24hr cooldown per user"}}
{{/* Length of the cooldown (in seconds) */}}
{{$lengthSec := 86400}}

{{/* CREATING VARIABLES DO NOT TOUCH */}}
{{$id := 0}}
{{$key := joinStr "" "cooldown_" $name}}
{{if eq $isGlobal 0}}
{{$id = .User.ID}}
{{end}}


{{if dbGet (toInt64 $id) $key}} 
{{/* Code to execute when cooldown is active */}}
{{ sendMessage nil "You can only give a server suggestion once every 24 hours." }}
{{else}}
{{/* Create cooldown entry */}}
{{dbSetExpire (toInt64 $id) $key "cooldown" $lengthSec}}

{{/* YOUR COMMAND HERE */}}

{{ $channel := 751086832959094894 }} {{/* Replace this with your suggestion channel ID */}}

{{if gt (len .Args) 1}}
Suggestion submitted.
{{ $embed := cembed
"description" (joinStr " " .CmdArgs)
"color" 9021952
"author" (sdict "name" (joinStr "" .User.Username "#" .User.Discriminator) "url" "" "icon_url" (.User.AvatarURL "512"))
"timestamp"  currentTime
}}
{{ $id := (sendMessageNoEscapeRetID $channel $embed) }}

{{ addMessageReactions $channel $id "upvote:524907425531428864" "downvote:524907425032175638" }}
{{else}}
Correct usage: `-suggest <suggestion>`
{{end}}
{{deleteResponse 5}}
{{deleteTrigger 5}}
{{end}}
