regex trigger: .*

{{/* FAQ TOC */}}
{{ $avatar := (joinStr "" "https://cdn.discordapp.com/attachments/750544650523246623/750756266737008760/kicking-sashimi.png") }}
{{$message := cembed 
    "title" (joinStr "" "Welcome to AMV Sashimi" ) 
    "description" "Read the <#750544650523246623>. Optionally, you can self-assign some <#750544674011349053>.\nIf you have any problems verifying, please post here.\nOtherwise, this channel also functions as an FAQ for the server.\nThis message will always appear last in this channel."
    "color" 0xff6a00
    "fields" (cslice 
		(sdict "name" "Server" "value" "Invite Link: https://discord.gg/F22nTuU \n [Channel List](https://discord.com/channels/750541618389712896/750544616553578527/784667270714228757)" "inline" false)
        (sdict "name" "Events" "value" "[Hosting/announcing events](https://discord.com/channels/750541618389712896/750544616553578527/784667405938589747) \n[Make an event channel & assign staff](https://discord.com/channels/750541618389712896/750544616553578527/784667543579000832) \n[Event participants: temporary (24hr) or manual assignment](https://discord.com/channels/750541618389712896/750544616553578527/784667628324782080) \n[Commands available in event channels](https://discord.com/channels/750541618389712896/750544616553578527/784667721076965386)" "inline" false) 
        (sdict "name" "Bot Commands" "value" "[Command list part 1](https://discord.com/channels/750541618389712896/750544616553578527/784671478913171466) \nHelp, reminders, suggestions, snippets \n[Command list part 2](https://discord.com/channels/750541618389712896/750544616553578527/784672908281905162) \nRoles, current time, polls, events" "inline" false)
(sdict "name" "Available Snippets" "value" "[Current snippet list](https://discord.com/channels/750541618389712896/750545021333274707/784673636287381504)\n(Note: You must be verified to view the snippet list)" "inline" false)
    ) 
    "thumbnail" (sdict "url" $avatar) 
}}


{{/* do not edit below */}}
{{if $db := dbGet .Channel.ID "stickymessage"}}
	{{deleteMessage nil (toInt $db.Value) 0}}
{{end}}
{{$id := sendMessageRetID nil $message}}
{{dbSet .Channel.ID "stickymessage" (str $id)}}
