{{$staff := "Staff"}}

{{$list := ""}}
{{$args := parseArgs 0 "" (carg "string" "snipname") (carg "string" "") (carg "string" "")}}


{{if $args.IsSet 0}}
{{if and (eq ($args.Get 0) "admin") (hasRoleName $staff) ($args.IsSet 1)}}
{{if $args.IsSet 2}}
{{dbSet 0 (joinStr "" "snippet_" (lower ($args.Get 1))) ($args.Get 2)}}Added/Edited
{{else}}
{{dbDel 0 (joinStr "" "snippet_" (lower ($args.Get 1)))}}Deleted
{{end}}


{{else if eq ($args.Get 0) "list"}}{{range dbTopEntries "snippet_%" 100 0}}{{$list = joinStr "" $list "\n`" (slice .Key 8) "`"}}
{{end}}
{{$msg := sendMessageRetID nil (cembed "title" "Snippet List:" "description" $list)}}


{{else if and (eq ($args.Get 0) "search") ($args.IsSet 1)}}{{range dbTopEntries (joinStr "" "snippet_%" (lower ($args.Get 1)) "%") 100 0}}{{$list = joinStr "" $list " " (slice .Key 8)}}{{end}}
{{$r := reFindAll (joinStr `` `(?i)(\b|\S*\/)` (reReplace "[^\\w]" ($args.Get 1) "") `(/\S*|\S*)`) $list}}
{{$list = ""}}
{{range $r}}{{$list = joinStr "" $list "\n`" . "`"}}{{end}}
{{$msg := sendMessageRetID nil (cembed "title" "Search Results:" "description" $list)}}


{{else}}{{range dbTopEntries (joinStr "" "snippet_%" (lower ($args.Get 0)) "%") 100 0}}{{$list = joinStr "" $list " " (slice .Key 8)}}{{end}}
{{$r := reFind (joinStr `` `(?i)(\b|\S*\/)` (reReplace "[^\\w/]" ($args.Get 0) "") `(/\S*|\b|$)`) $list}}
{{if $r}}{{$snip := dbGet 0 (joinStr "" "snippet_" $r)}}
{{$msg := sendMessageRetID nil (cembed "description" $snip.Value "title" (joinStr "" "Snippet: " (title (slice $snip.Key 8))))}}
{{end}}{{end}}{{end}}
