{{/* trigger: added reaction only. If a specific reaction is used (the clock mentioned in the dbump CC), post message, delete the trigger message in 0 sec, and schedule custom command #15 7200 seconds (2hrs) from now. CC15 is the CC labeled reminderShout. ScheduleUniqueCC can only be used once unless you get premium. */}}

{{/* 0 for per user, 1 for global */}}
{{$isGlobal := 1}}
{{/* name your cooldown name (anything works) */}}
{{$name := "2hr Cool Down"}}
{{/* Length of the cooldown (in seconds) */}}
{{$lengthSec := 7198}}

{{/* CREATING VARIABLES DO NOT TOUCH */}}
{{$id := 0}}
{{$key := joinStr "" "cooldown_" $name}}
{{if eq $isGlobal 0}}
{{$id = .User.ID}}
{{end}}


{{if dbGet (toInt64 $id) $key}} 
{{/* Code to execute when cooldown is active */}}
{{else}}
{{/* Create cooldown entry */}}
{{dbSetExpire (toInt64 $id) $key "cooldown" $lengthSec}}

{{/* YOUR COMMAND HERE */}}
{{if eq .Reaction.Emoji.Name "⏰"}}
{{sendMessage nil  (joinStr "" .User.Mention ", a reminder has been set to tag you in 2 hours! \n\n If anyone else wants a reminder, please use ``-remind Xmin you can bump now`` where X is how many minutes are left until the next bump!" )}}
{{deleteTrigger 0}}
{{scheduleUniqueCC 15 nil 7200 nil "irrelevant data - This just deletes the previous message that you could react to."}}
{{end}}
{{end}}
