{{/* Mentions the user that reacted to the react CC 2hrs later so they can bump. It is scheduled like this since the other CC hit the character limit. Keep note of the id of this CC and replace the appropriate number in place of CC 15 in the reaction CC. This CC does not have any trigger set. */}}

{{sendMessage nil (joinStr "" "This is your reminder to please bump the server, " .User.Mention)}}
