{{/* -exit @user */}}
{{/* removes entrant role */}}
 {{$args := parseArgs 1 (print "Please use the following format: `" .Cmd " <user>`")
    (carg "member" "Mention or ID")}}
{{$v :=execAdmin "rrole" ($args.Get 0).User "782386811473231880"}}
{{ if $args.IsSet 0 }}
    {{ or ($args.Get 0).Nick ($args.Get 0).User.Username}} is no longer an entrant.
{{ end }}